#p1{
	float:left;
	
}

#i1{
	margin-top:14px;
	margin-left:4%;
}
#i2{
	margin-top:14px;
	margin-left:23px;
}
#i3{
	margin-top:14px;
	margin-left:23px;
}
#i4{
	margin-top:14px;
	margin-left:23px;
}
#t1{
	float:left;
}

#d2{
	float:left;
}
#d3{
	float:left;
}


